@import url('https://fonts.googleapis.com/css?family=Roboto|Zhi+Mang+Xing&display=swap');
/*
    font-family: 'Zhi Mang Xing', cursive;
    font-family: 'Roboto', sans-serif;
*/

body {
  font: normal normal 16px/24px Roboto, sans-serif;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Zhi Mang Xing', cursive;
}

ol, ul {
  font-size: 1.2rem;
}
li, p {
  font-size: 1rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.form-container {
  margin: auto;
  padding: 1rem 2rem;
  background: #EEE;
  border-radius: 10px;
  box-shadow: 0 3px 5px #CCC;
}